* {padding:0px; margin:0px;}

body {
    background-color: white;
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 4em;
}

h2 {
	font-family: 'Arvo', serif;
	font-size: 1 en;
}


p{
	font-family:'Arvo', serif;
	font-size:16px;
}

/*header styling*/

.header {
	text-align:center;
}

.header div{
	text-align:center;
	display:inline-block;
}

.header * {
	padding-top:10px;
}

/**.header img{
	max-height:250px;
	margin-bottom:-15%;
	}**/

.header h1{
	/**font-size:8vmax;**/
	font-size:5em;
}

/*end of header styling*/


/*navigation styling*/
.navigation{
	margin-top: 50px;
	margin-bottom:90px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
}

.navigation ul{
	background-color: black;
	font-family: 'Arvo', serif;
	font-size: 20px;
	color: white;
	list-style-type: none;
	margin:0px;
	padding-top: 20px;
	padding-bottom: 19px;
	padding-left: 0px;
	padding-right: 0px;
	text-align:center;
}

@media screen and (min-width:620px){
	.navigation ul{
		text-align:left;
	}
}

.navigation a{
	text-decoration:none;
	color:pink;
	max-height:100%;
	padding:20px;
	
}

.navigation a:hover{
	background-color:grey;
}

.navigation li{
	display: inline;
	padding: 0px;
}

/*end of navigation styling*/


/*slideshow styling*/
			
.cycle-slideshow{
	width:100%;
	max-width:700px;
	display:block;
	position:relative;
	margin:20px auto;
	overflow:hidden;
}

/*slide styling*/
.slide img{
	width:100%;
}

.slide{
	width:100%; 
	display:block; 
	display:relative;
}

/*caption styling*/

.caption{
	width:100%;
	display:block;
	position:absolute;
	z-index:9999;
	top:0px;
	padding:25px;
	box-sizing:border-box;
}

.caption h3{
	text-transform:uppercase;
	color:white;
	font-size:2em;
	letter-spacing:.1em;
	padding-bottom:10px;
	font-family:'Amatic SC', cursive;
}

.caption p{
	color:white; 
	font-size:.9em; 
	letter-spacing:.1em;
	padding-bottom:10px;
}

.caption p a{
	text-decoration:none; 
	color:white; 
	font-size:.8em; 
	border:1px solid white;
	padding:4px 8px;
}

.caption p a:hover{
	background-color:white;
	color:black;
}

@media screen and (max-width:450px){

	.caption p {
		display:none;
	}
	.body_positivity{
		width:100%;
		position:relative;
	}
	.body_positivity h3{
		width:10%;
		position:absolute;
		top:40px;
		right:100px;
	}
}

/*end caption styling*/

/*end slide styling*/

.cycle-next{
	width:0px;
	height:0px;
	position:absolute;
	bottom:120px; right:20px;
	display:block;
	border-left:15px solid rgba(255,255,255,0.5);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	z-index:99999;
}

.cycle-next:hover{
	border-left:15px solid rgba(255,255,255,1);
}

.cycle-prev{
	width:0px;
	height:0px;
	position:absolute;
	bottom:60px; right:20px;
	display:block;
	border-right:15px solid rgba(255,255,255,0.5);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	z-index:99999;
}

.cycle-prev:hover{
	border-right:15px solid rgba(255,255,255,1);
}

.cycle-pager{
display:block;
text-align:center;
font-size:2em;
color:grey;
}

.cycle-pager span{
	padding:5px;
	font-size:25px;
}

@media screen and (max-width:500px){

	.cycle-pager span{
		font-size:50px;
		padding:10px;
	}
}

.cycle-pager-active{
	color:pink;
}

/*end of slideshow styling*/

/*about styling*/

.about{
		padding:5%;
		border-top: solid 5px black;
		text-align:center;
}

.about h1{
	width:100%;
	margin:0px auto;
}

.about img{
	width:200px;
	height:200px;
	margin:0px auto;
	padding-bottom:5%;
}

.about p{
	text-align:left;
	width:100%;
}

.aboutbox{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}

@media screen and (min-width:460px){
	.about h1{
		order:0;
	}
	
	.about img{
		width:250px;
		height:250px;
		order:1;
	}
	
	.about p{
		order:2;
	}
}

@media screen and (min-width:620px){
	.about h1{
		order:0;
		text-align:left;
	}
	
	.about img{
		order:2;
		width:250px;
		height:250px;
		margin-top:-10%;
	}
	
	.about p{
		order:1;
		width:50%;
	}	
}

@media screen and (min-width: 900px){
	
	.about{
		padding:5% 15%;
		margin:0px auto;
	}	
}

@media screen and (min-width:1300px){	
	.about p{
		width:70%;
	}
}

#GitHub{
	color:black;
}
		
/*end of about styling*/

/*oops page styling*/

#oops{
	text-align:center;
	padding-top: 100px auto;
}
/*end of oops page styling*/