*{
	margin:0px;
	padding:0px;
}

body{background-color:white;}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 4em;
}

/*navigation styling*/
.navigation{
	margin-top: 0px;
	margin-bottom:50px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
}

.navigation ul{
	background-color: black;
	font-family: 'Arvo', serif;
	font-size: 20px;
	color: white;
	list-style-type: none;
	margin:0px;
	padding-top: 20px;
	padding-bottom: 19px;
	padding-left: 0px;
	padding-right: 0px;
}

.navigation a{
	text-decoration:none;
	color:pink;
	max-height:100%;
	padding:20px;
	
}

.navigation a:hover{
	background-color:grey;
}

.navigation li{
	display: inline;
	padding: 0px;
}

/*end of navigation styling*/


/*content styling*/
.content{
	position:relative;
	width:70%;
	margin:50px auto;
}

.content h4{
	text-align:right;
	font-family: 'Arvo', serif;
	padding-bottom:20px;
	color:rgba(174,174,174,0.5);
}

.content p{
	padding-top:20px;
}

/*img with caption styling*/

@media screen (max-width: 575px){
	
	.caption {
		background-color:yellow;
	}
	
}

.img_with_caption{
	position:relative;
	width:100%;
}

.img_with_caption img{
	height:auto;
	width:100%;
	z-index:9999;
}

/*caption styling*/

.caption{
	color:white;
	padding:2%;
	position:absolute;
	top:0px;
	width:100%;
	box-sizing:border-box;
}

.caption h3{
	text-transform:uppercase;
	font-size:2em;
	letter-spacing:.1em;
	padding-bottom:0px;
	font-family:'Amatic SC', cursive;
	display:block;
}

.caption p{
	font-family:'Arvo', serif;
	font-size:.9em; 
	letter-spacing:.1em;
	top:0px;
	display:block;
}

@media screen and (max-width: 400px){
        .caption p{
		display:none;
		}
		
		/*p{
			font-size: 1em;
		}*/
    }

/*end of caption styling*/

/*end of img with caption styling*/

.writing{
	width: 100%;
	font-family:'Arvo', serif;
	font-size:6;
}

/*end of content styling*/